.principal-text{
  text-align: center;
  margin-top: 35px;
  color: #dd4b4b;
}

.custom-margin {
    margin-left: 100px;
    margin-right: 100px;
  } 

  /* .card {
    max-width: 400px;
  }
  
  
  .card-img-top {
    max-height: 200px;
    object-fit:scale-down;
  }
   */
  
  a{
    text-decoration: none;
    color: #ffaa00;
  }


/* hover para la etiqueta a */
a:hover{
  color: #ff4400;
  text-decoration: none;
}
